<div class="container">
  <div class="mt-5">
    <div class="d-flex justify-content-between align-items-center">
      <h2>
        Detalle de Libro: <small>{{ libro.title_Long }}</small>
      </h2>
      <button
        routerLink="/libros"
        class="btn btn-danger btn-sm"
        style="height: 32px; width: 32px"
      >
        <i class="fa fa-times"></i>
      </button>
    </div>
    <hr />
    <div class="d-flex justify-content-center">
      <div
        class="card mb-3"
        style="
          max-width: 80%;
          min-width: 80%;
          min-height: 500px;
          max-height: 600px;
        "
      >
        <!-- inicio loading -->

        <div *ngIf="isLoading" class="d-flex justify-content-center mt-5">
          <div
            class="spinner-border text-primary text-center"
            style="width: 5rem; height: 5rem"
            role="status"
          >
            <span class="sr-only">Cargando datos...</span>
          </div>
        </div>
        <div *ngIf="isLoading" class="mt-4">
          <h4 class="text-center">Cargando Datos...</h4>
        </div>

        <!-- fin loading -->
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="libro.coverLink" class="card-img" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">{{ libro.title }}</h2>
              <h4 class="card-text">
                <small>
                  {{ libro.synopsys }}
                </small>
              </h4>
              <br />

              <div class="col" style="min-height: 500px; max-height: 600px">
                <div style="height: 400px; overflow-y: scroll">
                  <div class="row">
                    <div class="col">
                      <div
                        class="card mt-2"
                        style="width: 90%; margin: auto"
                        *ngFor="let rating of libro.ratings"
                      >
                        <div class="card-body">
                          <p class="card-text">{{ rating.comentario }}</p>
                          <div class="rating-css">
                            <div class="star-icon">
                              <label
                                *ngIf="rating.puntuacion > 0"
                                class="fa fa-star"
                              ></label>
                              <label
                                *ngIf="rating.puntuacion > 1"
                                class="fa fa-star"
                              ></label>
                              <label
                                *ngIf="rating.puntuacion > 2"
                                class="fa fa-star"
                              ></label>
                              <label
                                *ngIf="rating.puntuacion > 3"
                                class="fa fa-star"
                              ></label>
                              <label
                                *ngIf="rating.puntuacion > 4"
                                class="fa fa-star"
                              ></label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
